.header {
  padding-top: rem(12px);

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    @include tablets {
      width: 15%;
    }
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__order {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: rem(9px) 0;
    min-width: rem(85px);
    margin-left: 2%;
    // width: 15%;
  }
}