.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#2f3234, .93);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}


.overlay__content {
  top: -11%;
  position: relative;
  background: #fff;
  border-radius: rem(5px);
  padding: rem(30px) rem(20px);
  color: black;
  font-size: rem(16px);
  margin: 0;
  max-width: rem(470px);
}

.overlay__close {
  position: absolute;
  right: rem(20px);
  top: rem(20px);
  width: rem(20px);
  height: rem(20px);
  box-sizing: content-box;
}

.overlay__close-icon {
  width: 100%;
  height: 100%;
  use {
    fill: #ec8468;
  }
}