.btn {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(13px);
  border-radius: rem(5px);
  background-color: #e45028;
  transition: background-color 0.3s ease;
  padding: rem(10px) rem(20px);
  
  &:hover {
    background-color: #c1401e;
  }

}

.btn--color--grey {
  background-color: #2f3234;

  &:hover {
    background-color: #1f2122;
  }
}

.btn--submit {
  margin-right: rem(20px);
}