.contacts {
  font-style: normal;
  font-size: rem(14px);
  font-family: Ubuntu;
  display: inline-block;
  @include phones {
    text-align: center;
    width: 100%;
    margin-bottom: rem(20px);
  }

  &__address {
    color: #fff;
    margin-bottom: rem(10px);
    @include phones {
      margin-bottom: rem(10px);
    }
  }

  &__phone {
    color: #e45028;
    font-weight: bold;
    display: inline-flex;
    align-items: center;

    &-icon {
      fill: #e45028;
      margin-right: rem(10px);
    }
    // &::before {
    //   content: '';
    //   width: rem(12px);
    //   height: rem(11px);
    //   margin-right: rem(5px);
    //   background: url(/img/contacts/phone.png) no-repeat center center;
    // }
  }
}