.menu-acco {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }

  &__item {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__title {
    height: 100%;
    font-family: Gagalin;
    color: #fff;
    font-size: rem(40px);
    // width: rem(80px);
    // @include phones {
    //   width: rem(50px);
    // }

    & span {
      height: 100%;
      font-family: Gagalin;
      color: #fff;
      font-size: rem(40px);
      padding: rem(40px) rem(20px) 0;
      text-transform: uppercase;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      @include phones {
        font-size: rem(26px);
      }
    }
  }

  &__desc {
    background-color: rgba(56, 60, 62, 0.8);
    line-height: 1.8;
    font-size: rem(14px);
    color: #fff;
    font-family: Ubuntu;
    width: 0;
    height: 100%;
    overflow: hidden;

    & p {
      padding: rem(60px) rem(30px);
      width: 100%;
      @include phones {
        padding: rem(25px) rem(15px);
      }
    }
  }
}

.menu-acco__item--active .menu-acco__desc {
  width: 38vw;
  transition: width 0.4s ease;
  @include phones {
    width: 100%;
  }
}

.menu-acco__item--active span {
  color: #f9b43b;
}

@each $bg in (meat, veg, diet) {
  .menu-acco__title--#{$bg} {
    background: url(/img/menu/#{$bg}.png) no-repeat center center;
    background-size: cover;
  }
}