body,html{
	margin:0;
	padding:0;
	overflow: hidden;
	height: 100%;

}

.ops-container {
	position:relative;
	display:block;
	padding:0;
	margin:0;
	height:100vh;
	width:100%;
	transform: translate3d(0,0,0);
}

 .ops-page {
	width: 100%;
	height: 100vh;
	position: relative;
} 

.ops-navigation {
	position: fixed;
  top: rem(200px);
  right: rem(80px);
  @include tablets {
    display: none;
  }
  @include phones {
    display: none;
  }
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

.ops-navigation li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: rem(16px);
  height: rem(16px);
  position: relative;
  margin-bottom: rem(5px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.ops-navigation a {
	display: block;
	width: rem(6px);
	height: rem(6px);
}

.ops-navigation a:before {
	display: block;
	content: ' ';
	width: rem(6px);
	height: rem(6px);
	background: #fff;
	border-radius: 100%;
}

.ops-navigation a.active {
	width: rem(16px);
	height: rem(16px);
}
.ops-navigation a.active:before {
	width: rem(14px);
	height: rem(14px);
	border:1px solid #fff;
	left: rem(0px);
	top: rem(0px);
	background: none;
	position: relative;
}