.pagination {
  position: fixed;
  top: rem(81px);
  right: rem(50px);
  @include phones {
    display: none;
  }
}

.pagination__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination__item {
  width: rem(16px);
  height: rem(16px);
  position: relative;
  margin-bottom: rem(5px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pagination__item--active {
  border: rem(1px) solid #fff;
}

.pagination__item::after {
  content: "";
  position: absolute;
  margin-left: rem(4px);
  margin-top: rem(4px);
  width: rem(6px);
  height: rem(6px);
  border-radius: 100%;
  background-color: #fff;
}