.promo,
.promo__preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.promo {
  flex-grow: 1;
}

.promo__image {
  display: block;
  position: relative;
  margin-right: 12px;
  // width: 47%;
  padding: 0px 0px 0px 60px;
}

.promo__image::after {
  content: "";
  position: absolute;
  overflow: visible;
  // width: 100%;
  top: 0;
  left: 25px;
  right: 0;
  bottom: 51px;
  display: block;
  background: url(/img/first-screen/drops.png) center center no-repeat;
}

.promo__subtitle {
  color: #fff;
  font-family: Lifehack;
  font-size: 65px;
  letter-spacing: -1.63px;
  line-height: 62px;
}