.reviews {

  &__list {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    height: 50%;
    filter: grayscale(100%);

    @for $i from 1 to 9 {

      &:nth-child(#{$i}) {
        background: url(/img/reviews/avatar_#{$i}.png) center center no-repeat;
        background-size: cover;
      }

    }
  }

  &__info {
    padding: 50px 30px 50px 20px;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in;

    &:hover {
      opacity: 1;
      background-color: rgba(black, 0.3);
    }
    
  }

  &__text {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;

    & p {
      line-height: 24px;
      font-family: Ubuntu;
      text-align: left;
    }

  }

  &__name {
    font-family: Gagalin;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

}