.reviews {

  &__list {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {

    width: 25%;
    height: 50%;

    @for $i from 1 to 9 {

      &:nth-child(#{$i}) {
        background: url(/img/reviews/avatar_#{$i}.png) center center no-repeat;
        background-size: cover;
      }

    }

    @include tablets {
      width: 50%;
      height: 25%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    height: 100%;
    width: 100%;

    &:hover {
      opacity: 1;
      background-color: rgba(black, 0.3);
    }

    @include tablets {
      text-align: center;
      padding: 0 10%;
    }
  }

  &__text {
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(20px);


    & p {
      line-height: rem(24px);
      font-family: Ubuntu;
      text-align: left;
      max-width: rem(220px);

      @include tablets {
        text-align: center;
      }

      @include phones {
        display: none;
      }
    }

  }

  &__name {
    font-family: Gagalin;
    text-transform: uppercase;
    margin-bottom: rem(30px);

    @include tablets {
      margin-bottom: rem(10px);
    }

    @include phones {
      font-size: rem(27px);
    }
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

// .reviews__button {
//   max-width: rem(110px);
// }

.reviews__more .reviews__phones-button-text {
  display: none;

  @include phones {
    display: inline;
  }
}

.reviews__more .reviews__orig-button-text {
  
  @include phones {
    display: none;
  }
}