.section-main {
  background: url(/img/first-screen/video-bg.png) no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .section-main::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: url(/img/first-screen/texture.png) center center no-repeat;
//   background-size: cover;
//   z-index: 0;
// }