.socials {
  width: 50%;

  &__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    @include phones {
      justify-content: center;
    }
  }

  &__item {
    display: block;
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.vk-icon,
.fb-icon,
.inst-icon,
.tw-icon {
  fill: #5a5a5a;
}

.socials svg:hover {
  fill: #fff;
}

// @each $social in (vk,fb,inst,tw) {
//   .socials .social__link--icon--#{$social} {
//     background: url(img/contacts/#{$social}.png) no-repeat center center;
//   }
// }