.team {
  background: url(/img/team/team_bg.png) no-repeat center center;
  background-size: cover;
  position: relative;

  @include tablets {
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#2f3234, .93);
    }
  }

  &__section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: rgba(#2f3234, .93);
    padding: 0 18% 0 9%;

    @include tablets {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      text-align: center;
      background: transparent;
      padding: 0;
    }
  }

  &__acco {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    
    @include tablets {
      // display: flex;
      padding-bottom: rem(20px);
    //   flex-direction: column;
    // align-items: center;
    }
  }

  &__item {
    margin-bottom: rem(20px);
    

    @include tablets {
      margin-bottom: rem(13px);
      text-align: center;
    }
  }

  &__name {
    display: inline-flex;
    align-items: flex-end;
    // position: relative;
    text-transform: uppercase;
    font-size: rem(14px);
    font-family: Gagalin;
    color: #fff;
    margin-bottom: rem(15px);

    @include tablets {
      align-items: baseline;
      font-size: rem(25px);
      // align-items: center;
    }

    &::before {
      content: '';
      // position: absolute;
      // display: block;
      // top: 0;
      // left: 0;
      border: rem(5px) solid transparent;
      border-top: rem(5px) solid #f9b43b;
      margin-right: rem(10px);
    }
  }


  &__item-desc {
    display: flex;
    flex-direction: row;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
    

    @include tablets {
      flex-direction: column;
      align-items: center;
      padding: 0 25%;
    }
  }

  &__avatar {
    text-align: center;
    // width: 30%;
    padding-left: rem(20px);
    margin-right: rem(20px);

    @include tablets {
      padding-left: 0;
      margin-bottom: rem(15px);
    }
    @include phones {
      padding-left: 0;
      margin-bottom: rem(15px);
    }
  }

  &__pic {
    width: rem(100px);
    height: rem(100px);
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
  }

  &__personal-info {
    width: 70%;
    font-family: Ubuntu;
    color: #fff;
    font-size: rem(14px);
  }

  &__personal-info, &__avatar {
    float: left;
    @include tablets {
      float: none;
      width: 100%;
    }
  }

  &__position {
    margin-bottom: rem(20px);
    font-weight: bold;
  }
}

.team__item--active .team__item-desc {
  height: rem(100px);
  margin-bottom: rem(38px);
}

.team__item--active .team__name::before {
  border-bottom: rem(5px) solid #f9b43b;
  border-top: 0;
  align-self: center;
}

.team__item--active .team__name {
  color: #f9b43b;
}