.title {
  font-family: Gagalin;
  font-size: 72px;
  text-align: left;
}

.title--section--main {
  padding-top: 70px;
  color: #f9b43b;
  margin-bottom: 20px;
}

.title--section--best {
  text-align: center;
  color: #2f3234;
  margin-bottom: 50px;
}

.title--section--team {
  color: #f9b43b;
  margin-bottom: 50px;
}

.title--section--menu {
  color: #fff;
}

.title--section--order {
  color: #f9b43b;
  text-align: center;
  margin-bottom: 45px;
}